<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>


    <main>
        <section class="center main-content">
            <h1>Edit Profile</h1>
          <!--form-->
          <form action="/users/myprofile" method="POST">
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" value="<%= user[indice].email%> ">
            </div>
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" value="<%= user[indice].userName %> ">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="<%= user[indice].contrasenia %> ">
            </div>
            <div>
                <label for="profile-picture">Profile Picture</label>
                <input type="text" name="profile-picture" id="profile_picture" value="<%= user[indice].profilePicture %> " >
            </div>
            <div>
                <label for="date">Date of Birth</label>
                <input type="date" name="date" id="fecha" value="<%= user[indice].fecha %> ">
            </div>
            <div>
                <label for="dni">DNI</label>
                <input type="text" name="number-dni" id="dni" value="<%= user[indice].dni %> ">
            </div>
            <button type="submit">modify</button>
        </form>
        </section> 
    </main>

    <%- include('./partials/footer') %>


</body>

</html>