<!DOCTYPE html>
<html lang="en">

<!--partial head-->
<%- include('./partials/head') %>


<body>

   <!--partials header-->
   <%- include('./partials/header') %>

    <main>
        <section class="center main-content">
            <% for( let i = 0; i < posts.postsList.length; i++ ) { %>
                <article class="post">
                    <div class="info-usuario ">
                        <img src="<%= posts.postsList[i].fotoPerfil %> " alt="">
                    </div>
                    
                    <div class="post-body">
                        <a href="/posts/postDetails/<%= posts.postsList[i].postId %> ">
                            <img src="<%= posts.postsList[i].imagen %> " alt="">
                        </a>
                    </div>
                    <ul class="post-reacciones">
                        <li>
                            <i class="fa-regular fa-heart"></i>
                        </li>
                        <li>
                            <i class="fa-regular fa-comment"></i>
                        </li>
                    </ul>
                    
                    <div class="post-comentarios">
                        <h4>
                            <a href="/users/userDetails">
                            <%= posts.postsList[i].username %>:
                        </h4>
                        <h4 class="post-description"><%= posts.postsList[i].description %> </h4>
                        <ul>
                            <h4>Other users say:</h4>
                            <li>
                                <a href="/users/userDetails">
                                <span><%= posts.postsList[i].comment1 %> </span>
                            </a>
                            
                            </li>
                            <li>
                                <a href="/users/userDetails">
                                <span><%= posts.postsList[i].comment2 %></span>
                            </a>
                            </li>
                            <a href="/posts/postDetails/<%= posts.postsList[i]%>">Ver más...</a>
                        </ul>
                    </div>
                </article>
            <% } %>
        </section>
    </main>

  <!--partials footer-->
  <%- include('./partials/footer') %>

</body>

</html>