<!DOCTYPE html>
<html lang="en">

<!--partial head-->
<%- include('./partials/head') %>


<body>

   <!--partials header-->
   <%- include('./partials/header') %>

    <main>

        <section class="center main-content">
            
            <% for( let i = 0; i < posts.length; i++ ) { %>
                <article class="post">
                    <div class="info-usuario ">
                        <a href="/posts/postDetails/<%= posts[i].id_users %> "><%= posts[i].users %> </a>
                       
                    </div>
                    
                    <div class="post-body">
                        <a href="/posts/postDetails/<%= posts[i].id_users %> ">
                            <img src="<%= posts[i].foto %> " alt="">
                        </a>
                    </div>
                    <ul class="post-reacciones">
                        <li>
                            <i class="fa-regular fa-heart"></i>
                        </li>
                        <li>
                            <i class="fa-regular fa-comment"></i>
                        </li>
                    </ul>
                    
                    <div class="post-comentarios">
                        <h4>
                            <a href="/users/userDetails"><%= posts[i].User  %>:
                        </h4>
                        <h4 class="post-description"><%= posts[i].texto_descriptivo %> </h4>

                        <h4>Other users say:</h4>
                    <ul>
                                    
                            <li>
                                <a href="/users/userDetails/<%= posts[i].texto_descriptivo %>">
                                <span><%= posts[i].comments %> </span>
                            </a>
                            
                            </li>
                     
                            
                            <li>
                                <a href="/users/userDetails/<%= posts[i].id_users %> ">
                                <span><%= posts[i].comments %></span>
                            </a>
                            </li>
                            <a href="/posts/postDetails/<%= posts[i].id%>">Ver más...</a>
                        </ul>
                    </div>
                </article>
            <% } %>
            
        </section>
    </main>

  <!--partials footer-->
  <%- include('./partials/footer') %>

</body>

</html>