<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>

    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="<%= users.usersList[0].profilePicture%> " alt="">
                <div class="info-usuario">
                    <p><%= users.usersList[0].userName%> </p>
                    <a class="follow" href="/users/editProfile"><i class="fa-solid fa-user-gear"></i></a>
                    <ul class="meta">
                        <li> <%= users.usersList[0].posts%> posts</li>
                        <li><%= users.usersList[0].followers%> followers</li>
                        <li><%= users.usersList[0].following%> following</li>
                    </ul>
                </div>
            </section>
            <section class="bottom">
                <% for( let i = 0; i < posts.postsList.length; i++ ) { %>
               
                    <article class="post">
                        <a href="/posts/postDetails">
                            <img src="<%= posts.postsList[i].imageName %> " alt="">
                            <p><%= posts.postsList[i].description %> </p>
                        </a>
                    </article>
                    <% } %>
               
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>