<!DOCTYPE html>
<html lang="en">

<!--partials head-->
<%- include('./partials/head') %>

<body>
    <!--partials header-->
    <%- include('./partials/header') %>


    <main>

        <div class="post-detail container">

            <section class="center main-content post">
                <% for( let i = 0; i < 1; i++ ) { %>
                
              
                <div class="info-usuario">
                    
                    <p><a href="/users/userDetails/0"><%= posts[i].username %> </a></p>
                </div>
                <img class="photo" src="<%= posts[i].imagen %> " alt="">
                
                <% } %>

            </section>

            <section class="right">
                <h4>Comentarios</h4>
                <section class="comments">
                    <form action="" class="comment-form">
                        <input type="text" class="input" placeholder="Agregar comentario">
                        <button type="submit">Comentar</button>
                    </form>

                    <div>

                        <% for( let i = 0; i < users.length; i++ ) { %>
                        
                        
                        <article class="comment">
                            
                            <section class="content">
                                <a class="user" href="/users/userDetails"><%= users[i].username %> </a>
                                <span class="text"><%= users[i].commentDetallePost %> </span>
                            </section>
                        </article>
                        <% } %>
                    </div>
                </section>
            </section>
        </div>
    </main>

    <!--partial footer-->
    <%- include('./partials/footer') %>
    
</body>

</html>