<!DOCTYPE html>
<html lang="en">

<!--partials head-->
<%- include('./partials/head') %>

<body>
    <!--partials header-->
    <%- include('./partials/header') %>


    <main>

        <div class="post-detail container">

            <section class="center main-content post">
                <% for( let i = 0; i < 1; i++ ) { %>
                
              
                <div class="info-usuario">
                    
                    <p><a href="/users/userDetails"><%= posts[i].username %> </a></p>
                </div>
                <img class="photo" src="<%= posts[i].foto %> " alt="">
                
                <% } %>

            </section>

            <section class="right">
                <h4>Comentarios</h4>
                <section class="comments">
                    <form action="" class="comment-form">
                        <input type="text" class="input" placeholder="Agregar comentario">
                        <button type="submit">Comentar</button>
                    </form>

                    <div>

                        <% for( let i = 0; i < posts.length; i++ ) { %>
                        
                        
                        <article class="comment">
                            
                            <section class="content">
                                <a class="user" href="/users/userDetails">Dice: <%= posts[i].usuarios%> </a>
                                <span class="text"><%= posts[i].comment %> </span>
                            </section>
                        </article>
                        <% } %>
                    </div>
                </section>
            </section>


            <div class="post-detail container margenes">

                <form action="/posts/update" method = "get" class="comment-form">
                    <input type="text" value="<%= posts.id %>" >
                    <button type="submit" >Edit Post</button>
                </form>

                    <form action="/posts/delete " method = "post" class="comment-form">
                    
                        <button type="submit" >Delete Post</button>
                    </form>

            </div>    

        </div>


    </main>

    <!--partial footer-->
    <%- include('./partials/footer') %>
    
</body>

</html>