<!DOCTYPE html>
<html lang="en">

    <!--partials head-->
    <%- include('./partials/head') %>

<body>
    <!--partials header-->
    <%- include('./partials/header') %>


    <main>
        <div class="user-detail container">
            
            <h1>Your results:</h1>
            <section class="bottom">

               
                <% for( let i = 0; i < posts.postsList.length; i++ ) { %>
                <article class="post">
                    <a href="/posts/postDetails/0"> 
                        <img src="<%=  posts.postsList[i].imagen %> " alt="">
                        <p><%=  posts.postsList[i].description %></p>
                    </a>
                </article>
                <% } %>

            </section>
            
        </div>
    </main>

    <!--partials footer-->
    <%- include('./partials/footer') %>


</body>

</html>