<!DOCTYPE html>
<html lang="en">

    <!--partials head-->
    <%- include('./partials/head') %>

<body>
    <!--partials header-->
    <%- include('./partials/header') %>

    <main>
        <div class="user-detail container">
            <section class="top main-content">
               
                <div class="info-usuario">
                    <p><%= user.username %> </p> 
                    <a class="follow" href="">Follow</a>
                    <ul class="meta">
                        <li> <%= user.posts%> posts</li>
                        <li><%= user.followers%> followers</li>
                        <li><%= user.following%> following</li>
                    </ul>
                </div>
            </section>
            
            <section class="bottom">               
                <% for( let i = 0; i < 3; i++ ) { %>
                    <article class="post">
                        <a href="/posts/postDetails/0">
                            <img src="<%= posts[i].imagen %> " alt="">
                        </a>
                    </article>
                <% } %>
               
              

            </section>
        </div>
    </main>

    <!--partials footer-->
    <%- include('./partials/footer') %>

</body>

</html>